/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #2708A0
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #2708A0
$badgeTipColor = #31CB00
$badgeWarningColor = FFE900
$badgeErrorColor = #F6511D